{{- $email := promptStringOnce . "email" "Email Address" -}}
{{- $github_username := promptStringOnce . "github_username" "Github Username" -}}

[data]
    email = {{ $email | quote }}
    GITHUB_USERNAME = {{ $github_username | quote }}

[git]
    autoCommit = true
    autoPush = true 

[edit]
    command = "nvim"

[diff]
    command = "nvim"
    args = [ "-d", "-r", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}" ]

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
