{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Data Hash: {{ include ".chezmoidata.yaml" | sha256sum }}

brew bundle --file=/dev/stdin <<EOF
{{- range .packages.common }}
brew "{{ . }}"
{{- end }}
{{- range .packages.darwin }}
brew "{{ . }}"
{{- end }}
{{- range (index .packages "darwin-homebrew") }}
cask "{{ . }}"
{{- end }}
EOF
{{ end -}}
