{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# Data Hash: {{ include ".chezmoidata.yaml" | sha256sum }}

# 1. Native packages (common + linux specific)
paru -Syu --needed --noconfirm \
{{- range .packages.common }}
    {{ . }} \
{{- end }}
{{- range .packages.linux }}
    {{ . }} \
{{- end }}

# 2. Flatpaks
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
{{ range (index .packages "linux-flatpak") -}}
flatpak install -y flathub {{ . }}
{{ end -}}
{{ end -}}
