{{- if eq .chezmoi.os "darwin" }}
* ssh-ed25519 {{ (bitwarden "item" "c6b87e57-a43e-47bc-8502-b2800089be8b").sshKey.publicKey }}
{{- else if eq .chezmoi.os "linux" }}
* ssh-ed25519 {{ (bitwarden "item" "b4292ecb-c0aa-4ae4-8f0a-b284017a86ac").sshKey.publicKey }}
{{ end -}}
